<h1>Welcome to my Rails application</h1>

<div class = "">
<div class="box red col-md-6 col-lg-3 col-xs-12 col-sm-6 col-">
	<!--lorem dlkfas;kdjf asdfljkasdf;kljas dfajkdf ;aslkdfj ;sadkldf-->
</div>

<div class = "box blue col-md-6 col-lg-3 col-xs-12 col-sm-6">
	<!--asl;ksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafd-->
</div>

<div class = "box green col-md-6 col-lg-3 col-xs-12 col-sm-6">
	<!--asl;ksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafd-->
</div>

<div class = "box pink col-md-6 col-lg-3 col-xs-12 col-sm-6">
	<!--asl;ksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafdksa dfl'ksad f'asldfksafd-->
</div>

</div>